@{
  Layout = "_Layout";
}

<h3>Click on the menu items below to manage engineers and machines.</h3>
<p>@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("View Machines", "Index", "Machines")</p>